.app {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}

.app__center {
  justify-content: center;
  align-items: center;
}

.app-header {
  height: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.app-header__fixed {
  position: fixed;
  top: 0;
  width: 100vw;
  backdrop-filter: blur(70px);
  background-color: rgba(255, 255, 247, 0.75);
}

.logo-container {
  position: fixed;
  top: 3rem;
  left: 3rem;
}

.logo-source {
  width: 4rem;
}

.description {
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12rem;
}

@media (max-width: 480px) {
  .logo-container {
    display: none;
  }
}

@media print {
  .cards {
    margin-top: 0 !important;
  }
}

.button {
  background-color: var(--tint-color);
  padding: 2rem 2rem;
  border-radius: 2.25rem;
  border-width: 0.25rem;
  border-color: var(--tint-color);
  border-style: solid;
  height: 4rem;
  font-size: 2rem;
  align-items: center;
  display: flex;
  color: var(--light-color);
  cursor: pointer;
  margin-right: 1rem;
}

.button:hover {
  background-color: var(--tint-color-light);
  color: var(--tint-color);
}

.button__secondary {
  background-color: var(--tint-color-light);
  color: var(--tint-color);
  border-color: transparent;
}

.button.button__secondary:hover {
  background-color: rgba(47, 49, 141, 0.1);
  border-color: var(--tint-color);
}

.label {
  font-size: 2rem;
  color: var(--tint-color);
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 1rem;
  align-items: center;
  margin-left: 1rem;
  cursor: pointer;
}

.label:first-child {
  margin-bottom: 0.25rem;
}

input[type=radio] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  -moz-appearance: none;
       appearance: none;
  /* For iOS < 15 */
  background-color: transparent;
  /* Not removed via appearance */
  margin: 0;
  font: inherit;
  color: var(--tint-color);
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid var(--tint-color);
  border-radius: 50%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

input[type=radio]::before {
  content: "";
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--tint-color);
}

input[type=radio] {
  text-decoration: underline;
}

input[type=radio]:checked::before {
  transform: scale(0.75);
}

input[type=radio]:checked {
  color: green;
}
