:root {
  --swipe-background-a-color: rgba(253, 249, 242, 1);
  --swipe-foreground-a-color: rgba(221, 137, 160, 1);
  --swipe-background-b-color: rgba(227, 122, 111, 1);
  --swipe-foreground-b-color: rgba(253, 241, 227, 1);
}

@media print {
  .card {
    min-width: 65mm !important;
    min-height: 65mm !important;
    max-width: 65mm !important;
    max-height: 65mm !important;
    margin-bottom: 0 !important;
    border-radius: 0 !important;
  }
  .card_text {
    font-size: 24pt !important;
    padding: 5mm !important;
  }
}

@media (max-width: 480px) {
  .card:first-child {
    margin-right: 0 !important;
  }
}

.card {
  display: flex;
  min-width: 20vmin;
  min-height: 20vmin;
  max-width: 20vmin;
  max-height: 20vmin;
  text-align: center;
  margin-bottom: 2vmin;
  border-radius: 2vmin;
}

.card_text {
  padding: 0 2vmin;
  font-size: 2vmin;
}

.card-swipe-a {
  display: flex;
  background-color: var(--swipe-background-a-color);
  color: var(--swipe-foreground-a-color);
  align-items: center;
  justify-content: center;
  font-family: 'ninjaFont', sans-serif;
}

.card-swipe-b {
  display: flex;
  background-color: var(--swipe-background-b-color);
  color: var(--swipe-foreground-b-color);
  align-items: center;
  justify-content: center;
  font-family: 'ninjaFont', sans-serif;
}

.card__no-background {
  background-color: transparent;
}

