.card {
  display: flex;
  width: 20vmax;
  height: 20vmax;
  margin: 0 0 2vmax 0;
}

.card_text {
  width: 16vh;
  padding: 0 2vh;
  font-size: 2vh;
}

.card-swipe-red-flag {
  display: flex;
  background-color: #E37A6F;
  color: #FDF1E3;
  align-items: center;
  justify-content: center;
  font-family: 'ninjaFont', sans-serif;
}
