:root {
  --swipe-background-a-color: rgba(253, 249, 242, 1);
  --swipe-foreground-a-color: rgba(221, 137, 160, 1);
  --swipe-background-b-color: rgba(227, 122, 111, 1);
  --swipe-foreground-b-color: rgba(253, 241, 227, 1);
}

@media print {
  .card {
    min-width: 65mm !important;
    min-height: 65mm !important;
    max-width: 65mm !important;
    max-height: 65mm !important;
  }
  .card-set {
    margin-top: 7.4mm !important;
    margin-bottom: 0 !important;
  }
}

@media (max-width: 480px) {
  .card-set {
    flex-direction: column;
    align-items: center;
    margin-bottom: 0 !important;
  }

  .card:first-child {
    margin-right: 0 !important;
  }

  .card {
    margin-bottom: 2vmax;
  }
}

.card-set {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 2vmax;
}

.card:first-child {
  margin-right: 2vmax;
}

.card {
  display: flex;
  min-width: 20vmax;
  min-height: 20vmax;
  max-width: 20vmax;
  max-height: 20vmax;
  text-align: center;
  border-radius: 2vmax;
}

.card_text {
  width: 16vh;
  padding: 0 2vh;
  font-size: 2vh;
}

.card-swipe-a {
  display: flex;
  background-color: var(--swipe-background-a-color);
  color: var(--swipe-foreground-a-color);
  align-items: center;
  justify-content: center;
  font-family: 'ninjaFont', sans-serif;
}

.card-swipe-b {
  display: flex;
  background-color: var(--swipe-background-b-color);
  color: var(--swipe-foreground-b-color);
  align-items: center;
  justify-content: center;
  font-family: 'ninjaFont', sans-serif;
}

.card-swipe-image {
  width: 100%;
}
