*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

:root {
  --tint-color: rgba(47, 49, 141, 1);
  --tint-color-light: rgba(47, 49, 141, 0.1);
  --light-color: rgba(255, 255, 247, 1);
  --dark-color: rgba(0, 0, 0, 1);
}

html {
  font-size: 8px;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark-color);
  background-color: var(--light-color);
}

body {
  margin: 0;
}

.transition {
  transition-property: background-color, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.print {
  visibility: hidden;
  position: absolute;
}

@media print {
  html {
    background-color: white;
  }

  body {
    width: 210mm;
    height: 297mm;
    margin: 0mm 0mm 0mm 0mm;
  }

  .no-print, .no-print * {
    display: none !important;
    visibility: hidden !important;
    position: absolute !important;
  }

  .print {
    visibility: visible !important;
    position: relative !important;
  }
}
