*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 8px;
  font-family: "proxima-nova","Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--tint-color);
  text-transform: lowercase;
}

body {
  margin: 0;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}
